#navbar { 
    text-align:center;
     background-color: black
}
    
#navbar li {
    display:inline-block;
    border: 3px solid black;
    padding: 10px;
    background-color: black;
}

#navbar a {
    color: white;

}
 
p {
    width: 100% 
}

