#navbar { 
    text-align:center;
}
    
#navbar li {
    display:inline-block;
    border: solid Slategray; 
    padding: 10px;
    background-color: white;
}

#navbar a {
    color: Teal ;

}
 
/*p {*/
/*    width: 100% */
/*}*/

