#navbar { 
    text-align:center;
}
    
#navbar li {
    display:inline-block;
    border: rgb(102, 204, 255) 20px ; 
    background-color: white;

}

#navbar a {
    color: white;

}
 
/*p {*/
/*    width: 100% */
/*}*/


		
		a:link, a:visited {
    background-color: black;
    color: blue;
    padding: 10px 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
 

}


a:hover, a:active {
    background-color: white ;
}


.active {
    background-color: black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:white;
}

.active {
    background-color: white;
}